
/* Dropdown */
.nav-dropdown {
	position: relative;
}

.nav-dropdown-content {
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;

	margin-left: -70px;

	width: 140px;
	padding-top: 10px;

	text-align: left;
}

.nav-dropdown-dual {
	margin-left: -140px;
	width: 280px;
}

.nav-dropdown-icon {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -12px;

	display: block;
	width: 25px;
	height: 13px;
	overflow: hidden;
}

.nav-dropdown-icon-rotate {
	display: block;
	position: absolute;
	top: 4px;
	left: 4px;

	width: 18px;
	height: 18px;
	background-color: #43A047;
	border-radius: 3px;

	transform: rotate( 45deg );
}

.nav-dropdown-background {
	background-color: #43A047;
	box-shadow: 1px 1px 1px #AAA;
}

.nav-dropdown-column {
	margin: 10px 0;
}

.nav-dropdown-dual .nav-dropdown-column {
	width: 50%;
	float: left;
}

.nav-dropdown-column + .nav-dropdown-column {
	border-left: 1px solid rgba( 255, 255, 255, 0.3 );
}

.nav-dropdown-link {
	display: block;
	padding: 5px;
	margin: 0 6px;

	color: #FFF;
	text-decoration: none;
}

.nav-dropdown-link:hover {
	background-color: rgba( 255, 255, 255, 0.10 );
}

.nav-dropdown:hover .nav-dropdown-content {
	display: block;
}