* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', Arial, sans-serif;
	font-size: 0.8em;
	color: #262626;
	background-color: #E5E5E5;
}

ul {
	list-style-type: none;
}

.left { float: left; }

/*
* Navigation header
**/
.header {
	padding: 7px;
	height: 50px;
	/*background-color: #1976D2;*/
	background-color: #2E7D32;
	box-shadow: 0px 1px 2px #AAA;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.nav-center {
	margin: 0 auto;
	width: 1000px;
	text-align: center;
}

.nav-item {
	display: inline-block;
	border-radius: 3px;
}

.nav-link {
	display: block;
	padding: 8px;
	color: #FFF;

	font-size: 14px;
	text-decoration: none;
	text-transform: lowercase;
}

.nav-link .icon {
	width: 10px;
	height: 10px;

}

.nav-item:hover, .nav-item.active {
	background-color: rgba( 255, 255, 255, 0.10 );
}



/*
* Content
**/
.content {
	margin: 70px auto;
	width: 1000px;
}

.content-mid {
	width: 760px;
}

/*
* General card
**/
.card {
	background-color: #FFF;
	box-shadow: 0px 1px 3px #BBB;
	border-radius: 1px;
}


/*
* Top bar - title bar
**/
.topbar {
	padding: 20px;
	margin-bottom: 15px;
}

.heading-1 {
	font-size: 1.7em;
}



/*
* Side bar - menu
**/
.sidebar {
	width: 265px;
	float: left;
	margin-right: 15px;
}

.sidebar-item {
	display: block;
	padding: 10px 13px;
	

	border-left: 2px solid #FFF;
	border-bottom: 1px solid #E5E5E5;
	text-decoration: none;

	color: #262626;
}

.sidebar-item:hover {
	
}

.sidebar-item--active {
	font-weight: bold;
	border-left-color: #4285f4;
	background-color: #EEE;
}



/*
* Content listing
**/
.list-container {
	width: 720px;
	float: left;
}

.list-container-item {
	padding: 12px 15px;
	border-bottom: 1px solid #E5E5E5;
}


/*
* Filters
**/
.filters {
	padding: 15px;
	color: #666;
	font-size: 14px;
}

.filters .highlight {
	color: #78909C;
	cursor: pointer;
}

/*
* Content listing by date
**/
.list-by-date {

}


.period-item {
	position: relative;
}

.period-date {
	position: absolute;
	top: 0;
	right: 100%;

	padding: 10px;
	border-top: 1px solid #d9d9d9;
	color: #78909C;
}

.period-list-item {
	padding: 10px;
	border-top: 1px solid #eee;
	color: #666;
}

.period-list-item-name {
	display: inline-block;
	margin-left: 5px;

	text-decoration: none;
	color: inherit;
}




/*
* Marker
**/
.circular-marker {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
}


.bg-red {
	background-color: red;
}

